### USER ###################################################

# The application owner
PUSER=www-data

# The group id
PGID=1000

# The user id
PUID=1000

# The App name
APP_NAME=project


### Paths ##################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=./app

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=./data

# Choose log path on your machine. For all containers
LOG_PATH_HOST=./logs


### Docker Host IP #########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1


### Docker Compose #########################################

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Define the prefix of container names. This is useful if you have multiple projects that use this repository to have separate containers per project.
COMPOSE_PROJECT_NAME=project


### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge


### NGINX ##################################################
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000
NGINX_SITES_PATH=./services/nginx/sites/
NGINX_FASTCGI_PARAMS=./services/nginx/fastcgi_params
NGINX_SSL_PATH=./services/nginx/ssl/
NGINX_CERTBOT_PATH=./app/letsencrypt


### PHP ####################################################

# Select a PHP version of the Workspace and PHP-FPM containers (Does not apply to HHVM).
# Accepted values: 8.3 | 8.2 | 8.1 | 8.0
PHP_VERSION=8.3


### MARIADB ################################################

TIMEZONE=UTC
MARIADB_VERSION=latest
MARIADB_CONF_PATH=./services/mariadb/my.cnf
MARIADB_ENTRYPOINT_INITDB=./services/mariadb/docker-entrypoint-initdb.d
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root


### PHP MY ADMIN ###########################################

# Accepted values: mariadb | mysql

PMA_DB_ENGINE=mariadb

# Credentials/Port:

PMA_USER=default
PMA_PASSWORD=secret
PMA_ROOT_PASSWORD=secret
PMA_PORT=8099
PMA_MAX_EXECUTION_TIME=600
PMA_MEMORY_LIMIT=256M
PMA_UPLOAD_LIMIT=2G


### REDIS ##################################################

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379


### LARAVE ECHO SERVER #####################################

LARAVEL_ECHO_SERVER_PORT=6001


### NODE ###################################################

# Accepted values: >=14
NODE_VERSION=current