[program:laravel-schedule]
process_name=%(program_name)s_%(process_num)02d
user=www-data
command=php /var/www/laravel/artisan schedule:run
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/laravel/schedule.log